.body{
    background-image: linear-gradient(to right top, #f61494, #e44bb8, #cb6ad3, #b082e3, #9895ea, #7f9eea, #6ca5e5, #62aadc, #4faacf, #47a8be, #4aa5ad, #54a19c);
    height: 99vh;
    width: 99vw;
    overflow: hidden;
}