/* You can add global styles to this file, and also import other style files */
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right top, #34373d, #363c49, #384255, #3a4861, #3c4d6e, #47587b, #526388, #5d6f96, #7384a7, #8a99b9, #a1afca, #b9c5dc);
}

* {
    font-family: 'Times New Roman', Times, serif;
}

.inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}